.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  color:black;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
  background: rgb(154, 167, 230);
 }
 .activeCard {
  color: red;
  background: pink;
 }
 .button {
  border: none;
  color: black;
  padding: 30px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #8dc7bd;} 
.background{
  background-color: #4d6d8ad1;
  color: white;
  font-size: 16 px;
}
.text1{
  color:white ;
  font-size: 32px;
}
.Hint{
  font-size: 18px;
  color:rgb(231, 181, 137);
}
.Howto {
  color:rgb(219, 114, 198);
  background:black;
  font-size: 32px;
}
.Answer{
  font-size: 18px;
  color:rgb(231, 137, 137);
}